html {
  width: 100%;
  height: 100%;

  cursor: crosshair;
  background-color: lightsteelblue;
  overflow: hidden;
}

body {
  margin: 0;
}

canvas {
  /* Mobile: Stops swipes on p5 canvas from moving webpage*/
  touch-action: none;
}

#app {
  width: 100%;
  height: 100vh;
}

#P5-canvas-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
